/* Copyright 2022 VMware, Inc.  
 * SPDX-License-Identifier: BSD-2-Clause
 */

/* Style names make use of the Block Element Modifier convention, see:  
 * https://en.bem.info/methodology/naming-convention/
 */

 :root {
     /* Colours that don't change between light and dark modes. */
    --accent-colour: rgb(98, 0, 234);

    /* Colours that do change between light and dark modes. */
    --line-colour-light-mode: black;
    --background-colour-light-mode: white;
    --line-colour-dark-mode: white;
    --background-colour-dark-mode: black;
    --field-colour-light-mode: rgb(224, 224, 224);
    --field-colour-dark-mode: rgb(112, 112, 112);

    /* Variables whose values change between light and dark modes. */
    --line-colour: var(--line-colour-light-mode);
    --background-colour: var(--background-colour-light-mode);
    --field-colour: var(--field-colour-light-mode);

    /* Shorthand for a border of current line colour. */
    --border: var(--line-colour) 1px solid;

    /* Next shorthands facilitate styling controls to:
     *
     * -   have a border in light mode, but be filled in dark mode.
     * -   be filled in light mode, but have a border in dark mode.
     *
     * For example, PageBuilder buttons in dark mode have a white border and no
     * fill, but in light mode have no border and a grey fill.
     *
     * The values are redefined in dark mode, below.
     */
    --light-mode-border: var(--border);
    --dark-mode-border: none;
    --light-mode-field: var(--field-colour);
    --dark-mode-field: none;

    --border-radius: 6px;
}
@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode colour overrides. */
        --line-colour: var(--line-colour-dark-mode);
        --background-colour: var(--background-colour-dark-mode);
        --field-colour: var(--field-colour-dark-mode);

        /* Overrides for switching between border and fill depending on mode.
         */
        --light-mode-border: none;
        --dark-mode-border: var(--border);
        --light-mode-field: none;
        --dark-mode-field: var(--field-colour);
    }
}

body {
     /* Prevent horizontal scroll bar.
      */
    overflow-x: hidden;
    /* width: 100%; */

    /* The MDL CSS, for example, seems to set min-height 100%, which means that
     * there is always a vertical scroll bar. Following rule stops that.
     */
    min-height: inherit;

    margin: 0;

    font-size: large;
    font-family: sans-serif;

    /* Setting the body background to transparent results in it being white, in
     * WKWebView at least.
     */
    background-color: var(--background-colour);
    color: var(--line-colour);
}

/* Push everything in from the sides of the screen a bit.
 * The !important would override, for example, MDL zero margins on no-space
 * grids.
 */
body > div, body > h2, body > form {
    margin-left: 3px !important;
    margin-right: 3px !important;
}

div.cwv-transcript {
    border-top: 2px solid var(--line-colour);
    margin-top: 6px;
    padding-top: 6px;
}
div .cwv-transcript__title { display: inline; }
fieldset.cwv-transcript {
    border: var(--border)
}
.cwv-transcript__clear { float: right; }
pre.cwv-transcript__log_line {
    margin-top: 0;
    margin-bottom: 0;

    /* Fixed fonts appear larger, so reduce the size. */
    font-size: 75%;

    /* Wrap at spaces to prevent long transcript lines overflowing the screen.
     */
    white-space: pre-wrap;
}
/* Force long transcript lines to be wrapped wherever, even within a word, to 
 * prevent them from overflowing the screen.
 */
.cwv-transcript__log_line {
    overflow-wrap: break-word;
    word-break: break-all;
}

.cwv-button {
    font-size: large;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--light-mode-field);
    border: var(--dark-mode-border);
    border-radius: var(--border-radius);
    outline: none;
    color: var(--line-colour);
}
.cwv-input + .cwv-button,
.cwv-button + .cwv-button {
    margin-left: 0.5em;
}
.cwv-button_down {
    background-color: var(--accent-colour);
    color: var(--background-colour);
}
/* Button doesn't use the :focus selector because Android WebView makes a button
 * focussed when it gets tapped, and leaves it focussed until something else
 * takes focus.
 */

.cwv-input {
    padding: 0.5em 0 0.5em 0;
}
.cwv-input__input {
    font-size: x-large;
    border-radius: var(--border-radius);
    padding-left: 0.5em;
    background-color: var(--light-mode-field);
    border: var(--border);
    color: var(--line-colour);
}
.cwv-input__input:focus {
    outline: none;
    border-color: var(--accent-colour);
    background-color: var(--background-colour);
}
.cwv-input__label {
    font-size: medium;
    display: block;
}
.cwv-input_checkbox .cwv-input__label {
    display: inline-block;
}

.cwv-anchor {
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    display: block;
    border-bottom: var(--border);
    color: var(--line-colour);
    margin-top: 2px;
}
.cwv-anchor:first-of-type {
    border-top: var(--border);
}
.cwv-anchor::after {
    content: ">";
    /* Another possible marker could be an angle quote, "\232A", but it didn't
     * look quite right.
     */
    float: right;
    font-size: x-large;
    color: var(--line-colour);
    margin-top: -5px;
    margin-right: -0.5em;
}
.cwv-anchor_back::after {
    content: none;
}
.cwv-anchor_back::before {
    content: "<";
    font-size: x-large;
    color: var(--line-colour);
    margin-top: -5px;
    margin-right: 0.5em;
}

h1 .cwv-anchor {
    border-bottom: none;
    padding: 0 0.5em 0 0.5em;
}
h1 .cwv-anchor:first-of-type {
    border-top: none;
}
.cwv-anchor_back::before {
    position: relative;
    top: -0.25em;
}

.cwv-progress {
    height: 1em;
    width: 100%;
}
/* This class sets the default style of one progress step. The following values
 * will be calculated by the JS.
 *
 * -   width.
 * -   height.
 */
.cwv-progress__step {
    margin: 1px;
    border: var(--border);
}

.cwv-progress__step > span {
    background-color: var(--accent-colour);
    transition: width 0.3s linear, background-color 0.3s linear;
}
