/* Copyright 2020 VMware, Inc.
 * SPDX-License-Identifier: BSD-2-Clause
 */

/* Style names make use of the Block Element Modifier convention, see:  
 * https://en.bem.info/methodology/naming-convention/
 */

.kst__key-store-message {
    display: none;
}
.kst__key-store-message_empty {
    border-bottom: 1px black solid;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    display: inherit;
    text-align: center;
    font-weight: bold;
}

.kst__key-label {
    padding-right: 0.25em;
}

.kst__key-alias {
    display: inline-block;
}

.kst__key-controls {
    display: inherit;
}
.kst__key-controls_collapsed {
    display: none;
}

.kst__key-controls .cwv-input {
    display: inline-block;
}

.kst__button-panel {
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.kst__button-panel > * {
    flex: none;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.kst__button-panel > .cwv-button + .cwv-button {
    margin-left: 0px;
}

/* These buttons get a chevron prefix. There are a number of candidates for the
 * chevron character.
 *
 * -   Canadian syllabics Po: "\1433"  
 *     Looks nice but formally isn't a direction indicator. Bit big.
 * -   Arrowhead: "\02C3"  
 *     Small, and isn't centred so it looks funny when it rotates.
 * -   Another arrowhead: "\02F2"  
 *     Small, and isn't centred so it looks funny when it rotates.
 * -   Angle quote: "\203A"  
 *     Small but could be boosted with a scale() transform for example. Seems to
 *     be smaller on iOS though.
 * -   Plain greater than: ">"
 */
.kst__key-button::before {
    content: ">";
    margin-right: 0.5em;
    /* TOTH for how to rotate a pseudo-element:
     * https://stackoverflow.com/a/9782047/7657675
     */
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 0.25s linear;
}
.kst__key-button_collapsed::before {
    transform: rotate(0deg);
}

textarea {
    font-family: monospace;
}