/* Copyright 2020 VMware, Inc.
 * SPDX-License-Identifier: BSD-2-Clause
 */

/* Style names make use of the Block Element Modifier convention, see:  
 * https://en.bem.info/methodology/naming-convention/
 */

/* .kst__key-store {
} */

.kst__key-store-message {
    display: none;
}
.kst__key-store-message_empty {
    border-bottom: 1px black solid;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    display: inherit;
}

.kst__key-label {
    padding-right: 0.25em;
}

.kst__key-alias {
    display: inline-block;
}

.kst__key-controls {
    display: inherit;
}
.kst__key-controls_collapsed {
    display: none;
}

.kst__key-controls .cwv-input {
    display: inline-block;
}

.kst__button-panel {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
